// ===============================================================
// Main
// ===============================================================

// Vendor

@import 'reset.css/reset.css';

// Fonts

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/work-sans.woff') format('woff')
}

// Styles

body {
  padding: 4vw;
  background-color: silver;
  font-family: 'Work Sans', sans-serif;

  > * + * {
    margin-top: 30px;
  }
}

.image-test {
  width: 98px;
  height: 81px;

  &.image-test-sass {
    background: url('/images/svg/icon/logo.svg') no-repeat top left;
  }
}