{#
 # =========================================================
 # Layout template
 # =========================================================
#}

<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include ['_partials/links', '_partials/links-dev'] ignore missing %}
</head>

<body>
  <main>
    {% block content %}{% endblock %}
  </main>

  {% include ['_partials/scripts', '_partials/scripts-dev'] ignore missing %}
</body>
</html>
