{# ================================================================== #}
{# Homepage
{# ================================================================== #}

{% extends "_layout" %}

{% block content %}
  <h1>Homepage</h1>
  
  {# Test image in HTML #}
  <p>Twig image test</p>
  <div class="image-test">
    <img src="/dist/images/svg/icon/logo.svg" alt="">
  </div>
  
  {# Test image in CSS #}
  <p>Sass Image Text</p>
  <div class="image-test"></div>
{% endblock %}
