{# ================================================================== #}
{# Homepage
{# ================================================================== #}

{% extends "_layout" %}

{% block content %}
  <h1>Homepage</h1>
  
  {# Test image in HTML #}
  <div class="image-test">
    <img src="/static/images/svg/icon/logo.svg" alt="">
  </div>
  
  {# Test image in CSS #}
  <div class="image-test"></div>
{% endblock %}
